.hero {

  display: flex;
  flex-direction: column;
  @include breakpoint-up(large){
    flex-direction: row;
  }
  align-items: center;
  justify-content: space-evenly;
  padding-right: 0.625rem;
  margin-right: 1.25rem;

  &__image {

    margin: 20px;

   img { 
     width: 17.875rem;
     height: 100%;
     @include breakpoint-up(large){
       width: 33.6875rem;
       height: 27.96rem;
     }
    }
  }

  &__text{
    align-self: center;
    justify-content: space-between;

    & p {
      line-height: 1.68rem;
      letter-spacing: -0.0015rem;
    }

    @include breakpoint-up(large){
      font-size: 1.5rem;
      h1 {
        font-size: 4rem;
      }

      p {
        line-height: 2rem;
        width: 25.82rem;
      }
    }
  }
}

.hero button {
  font-family: 'Space Mono';
  font-size: 0.875rem;
  color: $white;
  background: $gray;
  width: 13.5rem;
  height: 4.25rem;
  margin-top: 2rem;
  align-self: flex-start;
}