.hero {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  margin-right: 20px;

  &__image {
    margin-top: 10%;
    margin-bottom: 10%;

   img { 
     width: 286px;
     height: 100%;

    }
  }

  &__text{
    align-self: flex-start;
  }
}

.hero button {
  font-family: 'Space Mono';
  font-size: 0.875rem;
  color: $white;
  background: $gray;
  width: 13.5rem;
  height: 4.25rem;
  margin-top: 2rem;
  align-self: flex-start;
}